  * {
      cursor: pointer;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .parent {
      width: 100vw;
      height: 100vh;
      background-color: black;
      color: white;
      overflow: hidden;
  }

  nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
  }

  .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
  }

  .hamburger span {
      background: white;
      height: 3px;
      width: 25px;
      border-radius: 5px;
  }

  .logo {
      font-size: 20px;
      width: 20%;
      margin-left: 30px;
      color: blue;
      filter: drop-shadow(0px 0px 0px white);
      font-weight: 600;
  }

  .logo::first-letter {
      color: white;
      font-size: 35px;
  }

  .part2 img {
      border-radius: 50%;
      object-fit: cover;
      width: 200px;
      height: 200px;
      position: relative;
  }
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .part2::after, .part2::before{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    top: 49%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 50%, blue);
    padding: 3px;
    z-index: -1;
    border-radius: 50%;
    animation: spin linear 1s infinite;
  }
  .part2::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
  }

  .removebtn {
      display: none;
  }

  #name {
      font-size: 80px;
  }

  .list {
      margin-left: 600px;
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      gap: 20px;
  }

  .list li {
      border: 2px solid black;
      border-radius: 20px;
      margin-left: 30px;
      background-color: darkblue;
      padding: 5px 20px;
  }

  .list li:hover {
      border: 2px solid white;
      background-color: blue;
  }

  .container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      top: 100px;
  }


  .content {
      display: flex;
      position: relative;
      top: 250px;
      left: 100px;
      width: 80%;
      text-align: center;
      justify-content: space-evenly;
      align-items: center;
  }

  .box {
      border-radius: 20px;
      background-color: blue;
      margin-left: 40px;
      color: white;
      padding: 25px 20px;
      transition: all 0.3s linear;
      position: relative;
      overflow: hidden;
      height: 23vh;
      width: 450px;
  }

  .box:hover {
      border: 2px solid white;
      margin-left: 40px;
      transition: all 0.3s linear;
  }

  .title {
      display: block;
      border-bottom: 2px solid white;
      font-size: 25px;
      text-align: center;
      line-height: 1;
      padding-bottom: 10px;
  }

  .box p {
      font-size: 50%;
      width: 100%;
  }

  .remove {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 10px;
      display: none;
      position: absolute;
      top: 10px;
      right: 20px;
  }

  span {
      display: flex;
      justify-content: start;
  }

  .skill-list ul {
      list-style: none;
      padding: 2px 10px;
      display: flex;
      justify-content: space-evenly;
  }

  .skill-list li {
      margin-top: 10px;
  }

  .progress-bar {
      border-radius: 20px;
      border: 2px solid white;
      height: 10px;
      width: 100px;
      display: none;
  }

  .progress {
      border: 2px solid blue;
      border-radius: 20px;
      background-color: white;
      height: 100%;
      width: 0px;
      position: relative;
      font-size: 3px;
      font-weight: 600;
      color: blue;
  }

  .cardset {
      display: none;
  }

  .card {
      width: 120px;
      height: 100px;
      padding: 40px;
      margin: 4px 5px;
      border: none;
      transition: 300ms linear;
      /* border: 1px solid white; */
      box-shadow: 1px 0px 25px black;
      position: relative;
      top: 0px;
      left: 10px;
      border-radius: 10px;
  }

  .card:hover {
      transition: 300ms linear;
      box-shadow: 1px 0px 5px white;
  }

  .card h5 {
      font-size: 5px;
      text-align: start;
      position: relative;
      top: -35px;
      left: -30px;
  }

  .p-img1 {
      box-shadow: 1px 0px 5px white;
      border: white solid 1px;
      z-index: 0;
      width: 100px;
      height: 50px;
      border-radius: 0px;
      object-fit: cover;
      position: relative;
      top: -30px;
      left: -30px;
  }

  .img-ui {
      display: flex;
  }

  .img-ui1 {
      box-shadow: 1px 0px 5px white;
      border: white solid 1px;
      z-index: 3;
      width: 160px;
      height: 80px;
      border-radius: 0px;
      object-fit: cover;
      position: relative;
      top: -14px;
  }

  .img-ui2 {
      box-shadow: 1px 0px 5px white;
      border: white solid 1px;
      z-index: 2;
      width: 160px;
      height: 80px;
      border-radius: 0px;
      object-fit: cover;
      position: relative;
      top: -5px;
      left: -120px;
  }

  .img-ui3 {
      box-shadow: 1px 0px 5px white;
      border: white solid 1px;
      z-index: 1;
      width: 160px;
      height: 80px;
      border-radius: 0px;
      object-fit: cover;
      position: relative;
      top: 1px;
      left: -240px;
  }

  .p-img2 {
      box-shadow: 1px 0px 5px white;
      border: white solid 1px;
      z-index: 1;
      width: 100px;
      height: 50px;
      border-radius: 0px;
      position: relative;
      top: -70px;
      left: -25px;
  }

  .p-a {
      color: white;
      text-decoration: none;
      width: 100px;
      font-size: 5px;
      font-size: xx-small;
      height: 10px;
      position: absolute;
      top: 82px;
      left: 45px;
  }

  .card svg {
      width: 10px;
      position: relative;
      top: 1.5px;
      left: 2px;
  }

  .contact {
      position: relative;
      left: -70px;
      top: -10px;
  }

  .contact__content1 {
      padding: 20px;
  }

  .contact__content2 {
      padding: 20px;
  }

  .contact__content3 {
      padding: 20px;
  }

  .c-svg {
      width: 20px;
      height: 20px;
      fill: white;
      position: relative;
      left: 120px;
      top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .c-a {
      width: fit-content;
      color: white;
      position: relative;
      top: 4px;
      left: 150px;
      font-size: 10px;
      display: flex;
      justify-content: start;
      align-items: center;
  }

  .c-a:hover {
      color: rgb(177, 177, 177);
  }

  .box {
      transition: all 0.3s ease;
  }

  .box.expanded {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%) scale(2);
      width: 80%;
      height: auto;
      z-index: 4;
  }

  @media screen and (min-width: 768px), (max-width: 1024) {
      .box.expanded {
          transform: translateX(-50%) scale(1.2);
          width: 95%;
      }
  }

  @media screen and (max-width: 420px){

      .list {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          right: 0;
          background: black;
          width: 200px;
          padding: 15px;
          gap: 15px;
      }

      .list.active {
          display: flex;
      }

      .hamburger {
          display: flex;
      }

      .container {
          width: 80%;
          display: flex;
          flex-direction: column-reverse;
      }

      .part1 {
          font-size: 85%;
      }
  }